<div class="container pb-5">
  <p style="color: green"><%= notice %></p>

  <div id="purchases">
    <% @purchases.each do |purchase| %>
      <%= render purchase %>
    <% end %>
  </div>

  <%= link_to "New purchase", new_purchase_path %>
</div>