<div id="<%= dom_id category_purchase %>">
  <p>
    <strong>Category:</strong>
    <%= category_purchase.category_id %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= category_purchase.purchase_id %>
  </p>

</div>
