<h1>Editing category purchase</h1>

<%= render "form", category_purchase: @category_purchase %>

<br>

<div>
  <%= link_to "Show this category purchase", @category_purchase %> |
  <%= link_to "Back to category purchases", category_purchases_path %>
</div>
