<p style="color: green"><%= notice %></p>

<h1>Category purchases</h1>

<div id="category_purchases">
  <% @category_purchases.each do |category_purchase| %>
    <%= render category_purchase %>
    <p>
      <%= link_to "Show this category purchase", category_purchase %>
    </p>
  <% end %>
</div>

<%= link_to "New category purchase", new_category_purchase_path %>
