<div class="container">
  <div id="categories" style="background: whitesmoke">
    <% @categories.each do |category| %>
        <%= link_to render category %>
    <% end %>
  </div>

  <%= link_to "New category", new_category_path %>
</div>