<div class="container">
  <div id="categories" style="background: whitesmoke">
    <% @categories.each do |category| %>
      <%= link_to category_path(category) do %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>
</div>
<div style="background-color: #5fb523; top: 100%; width: 100%;" class="d-flex justify-content-around align-items-center p-3 position-absolute mt-4">
  <%= link_to 'ADD CATEGORY', new_category_path,  class: "text-center text-light border border-white p-3", style: "width: 100%" %>
</div>