<div class="container pb-5">
  <p style="color: green"><%= notice %></p>

  <%= render partial: 'purchases/purchases', locals: { purchases: @purchases } %>

  <%= link_to "New purchase", new_purchase_path(:category_id => @category.id) %>
</div>
